body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #a8e063, #56ab2f);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.registration-container {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
}

.registration-content {
    flex: 1;
    padding-right: 20px;
}

.registration-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-image img {
    max-width: 100%;
    max-height: 80vh; /* Set a maximum height to fit the screen size */
    width: auto;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  color: white;
  text-align: center;
}

form {
  margin-top: 20px;
  text-align: left;
}

label {
  display: block;
  margin-top: 10px;
  color: white;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  color: white;
}
button[type="submit"] {
  background: #56ab2f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button[type="submit"]:hover {
  background: #4a9522;
}

p {
  color: white;
  margin-top: 10px;
  text-align: center;
}

a {
  color: red;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  transition: color 0.3s ease; /* Add transition effect for color change */
}

a:hover {
  color: black;
  background-color: yellow;

}
